.tableLuyKe{
    width: 300px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
}
.ant-picker-suffix{
    display: none;
}
.border{
    border: 3px solid white;
    
    border-radius: 5px;
}
.fixed-menu {
    position: fixed;
  }

  .chart-res {
    position: relative;
    overflow: hidden;
  }
  
  .chart-res.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .menu-wrapper{
    overflow-y: auto;
  }
  @media (min-width: 768px) and (max-width: 992px) {
  
    .render-chartLuyKe{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 10px;
    }
   
    .responsive-chart{
       width: 250px;
    }
  
    .responsive-YearByPond{
        width: 510px;
    }
 
}
  @media (min-width: 992px) and (max-width: 1199px) {
  
    .render-chartLuyKe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
   
    .responsive-chart{
       width: 450px;
    }
  
    .responsive-YearByPond{
        width: 900px;
    }
 
}


@media (min-width: 1300px)  {
    .render-chartLuyKe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
   
    .responsive-chart{
       width: 600px;
    }
  
    .responsive-YearByPond{
        width: 1215px;
    }
}

@media (min-width: 1441px)  {
    .render-chartLuyKe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
   
    .responsive-chart{
       width: 620px;
    }
  
    .responsive-YearByPond{
        width: 1250px;
    }
}

.ant-tabs-nav-list{
    margin-left: 10px;
}
.anticon-close-circle{
    display: none;
}


.text-titleBorder{
    border-radius: 5px 5px 0px 0px;
    background: #036E9B;
}
.bg-menu-tag{
    width: auto;
}